charset "UTF-8"
*{
        padding: 0px;
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }
    body img{
       width: 100vw;
        
        
        
    }
    body{
       
        text-align: center;
       
    }
     ::-webkit-scrollbar{
        width: 0px;
        height: 0px;
     }
     a{
        background: rgb(245, 40, 40);
        color: white;
        text-decoration: none;
        padding:0px ;
        margin-top: -5px;
        display: block;
        font-weight: bolder;
        
     }
     a:hover{
        background-color: red;
        
     }
     
     
