*{
    padding: 0%;
    margin: 0%;
}
html,body{
    
    background-color: rgb(0, 0, 0);

}
main{
height: 100vh;
background-color: rgb(7, 88, 0);
background: url(../imagens/fundo-madeira.jpg);
background-size: cover;
}
section#Celular{
    position: relative;
    background: url(../imagens/frame-iphone.png)no-repeat center center;
   height: 627px;
   width: 311px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    
    
}
iframe#tela{
    position: absolute;
    left: 23px;
    top: 80px;
    height: 468px;
    width: 264px;
    border: none;

}