*{
    padding: 0%;
    margin: 0%;
}
html,body{
    
    background-color: rgb(0, 0, 0);

}
main{
height: 100vh;
background-color: rgb(7, 88, 0);
background: url(../imagens/fundo-madeira.jpg);
background-size: cover;
}
section#Celular{
    position: relative;
    background: url(../imagens/frame-iphone.png)no-repeat center center;
   height: 550px;
   width: 280px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-size: contain;

    
    
}
iframe#tela{
    position: absolute;
    left: 23px;
    top: 70px;
    height: 411px;
    width: 233px;    
    background-size: contain;

}

html, body {
    overflow-x: hidden;
}
section#logos img{
    margin: 10px;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    box-shadow: 1px 1px 10px black;
    
}
section#logos{
margin-top: -360px;
border-radius:30px;


}
section#logos img:hover{
border: 2px solid white;
box-sizing: border-box
transform: translate(-7px -7px);
Transition-duration:1s;
}

iframe#tela2{
    position: absolute;
    left: 23px;
    top: 70px;
    height: 411px;
    width: 233px;    
    background-size: contain;
}